@import url('/assets//font/Atlas-Grotesk-Regular-VH.woff');
@import url('/assets/font/CenturyStd-LightCondensed-VH.woff');

@font-face {
  font-family: "CenturyStd-LightCondensed-VH";
  src: url('/assets/font/CenturyStd-LightCondensed-VH.woff');
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none !important;
  scroll-behavior: smooth !important;
  box-sizing: border-box;
  font-family: "Atlas-Grotesk-Regular-VH", sans-serif;
}
  *:focus {
    outline: 0; }
  * input::-webkit-outer-spin-button,
  * input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
    visibility: visible;
  }



    :root {
      --primary-color:        #f13a11;
      --white-color:          #ffffff;
      --dark-color:           #171819;
      --about-bg-color:       #f9f9f9;
  
      --gray-color:           #909090;
      --link-color:           #404040;
      --p-color:              #666262;
  
      --base-font-family:     'Plain', sans-serif;
      --font-weight-bold:     bold;
      --font-weight-normal:   normal;
      --font-weight-light:    300;
      --font-weight-thin:     100;
  
      --h1-font-size:         48px;
      --h2-font-size:         36px;
      --h3-font-size:         28px;
      --h4-font-size:         24px;
      --h5-font-size:         22px;
      --h6-font-size:         22px;
      --p-font-size:          18px;
      --base-font-size:       16px;
      --menu-font-size:       14px;
  
      --border-radius-large:  100%;
      --border-radius-small:  2px;
  }


    $font-01: 'Muli', sans-serif;
    $s1 : .5s;
    $m-01: #7681A4;
    $m-02: #5D698D;

    $c-01: #10182F;
    $c-02: #545D7A;
    $c-03: #306BF3;


    $g-01: linear-gradient(140deg, $m-01, $m-02);

    $neu-01: #F7F8FC;
    $neu-02: #DAE1F5;
    $neu-03: #6F7073;
    $neu-04: #505050;
    $neu-05: #403E3E;

    @mixin lg {
        @media screen and (max-width: 1180px) {
            @content;
        }
    }

    @mixin md {
        @media screen and (max-width: 1023px) {
            @content;
        }
    }

    @mixin sm {
        @media screen and (max-width: 799px) {
            @content;
        }
    }

    @mixin xs {
        @media screen and (max-width: 511px) {
            @content;
        }
    }
  
    /*---------------------------------------
       TYPOGRAPHY              
    -----------------------------------------*/
  
    h1,h2,h3,h4,h5,h6 {
      font-weight: var(--font-weight-thin);
      line-height: normal;
    }
  
    h1 {
      font-size: var(--h1-font-size);
      font-weight: var(--font-weight-bold);
      letter-spacing: -1px;
      text-transform: uppercase;
      margin: 20px 0;
    }
  
    h2 {
      font-size: var(--h2-font-size);
      font-weight: var(--font-weight-bold);
      letter-spacing: -2px;
    }
  
    h3 {
      font-size: var(--h3-font-size);
      font-weight: var(--font-weight-bold);
      letter-spacing: -1px;
      margin: 0;
    }
  
    h4 {
      font-size: var(--h4-font-size);
    }
  
    h5 {
      font-size: var(--h5-font-size);
    }
  
    h6 {
      color: var(--gray-color);
      font-size: var(--h6-font-size);
      line-height: inherit;
      margin: 0;
    }
  
    p {
      color: var(--p-color);
      font-size: var(--p-font-size);
      font-weight: var(--font-weight-light);
      line-height: 1.5em;
    }
  
    b, 
    strong {
      font-weight: var(--font-weight-bold);
      letter-spacing: 0;
    }
  

    /* START CODING */

    /*---------------------------------------
       CUSTOMIZE              
    -----------------------------------------*/

    body {
      background: var(--white-color);
      font-family: var(--base-font-family);
      height: auto;
      margin: 0;
      padding: 0;
      text-align: center;
      font-family: "Atlas-Grotesk-Regular-VH", sans-serif;
      background: url(../img/background/bg_body.gif) repeat 0 0;
      overflow-x: hidden;
    }
  

  ::selection {
    background-color: #7681a4;
    color: #fff;
  }

    /* 
    ---------------------------------------------
    Back to top
    --------------------------------------------- 
    */
    #back-to-top {
      position: fixed;
      right: 80px;
      bottom: 180px;
      border: 2px solid #767575;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
      cursor: pointer;
      z-index: 999999;

      &:hover {
        border: 2px solid #444;
        transition: all .3s ease 0s;
      }

      &:hover > span.caret-top::before {
        border-left: 6px solid #444;
        transition: all .3s ease 0s; 
      }

      @include sm() {
        right: 20px;
        bottom: 50px;
      }
      
      span.caret-top {
        color: #767575;
        outline: none;
        font-size: 100%;
        z-index: 1;
        cursor: pointer;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -5px;
          margin-right: -1.5px;
          width: 0;
          height: 0;
          border-bottom: 5px solid transparent;
          border-left: 6px solid #767575;
          border-top: 5px solid transparent;
          transform: rotate(270deg);  
        }
        &:hover {
          color: #9eaf3b;
          transition: all ease .3s;
        }
        &:hover .dropdown-content {
          visibility: visible !important;
          opacity: 1 !important;
          transition: all ease 1s;
          cursor: pointer;
        } 
      }
    }

    /*---------------------------------------
       HEADER              
    -----------------------------------------*/
  .wrapper {
    width: 100%;
    height: auto;

    .header {
      position: fixed;
      display: flex;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.8);
      z-index: 999;
      .container {
        margin: 0;
        padding: 0;
        height: 88px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        @media screen and(max-width: 1000px) {
          height: 57px;
        }
        .col-header-left {
          display: flex;
          align-items: center;
          justify-content: flex-start !important;
          flex-direction: row;
          height: 100%;
          width: 100%;   
          @media screen and(max-width: 576px) {
            width: 50%;
          }
          .header-logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            img {
              width: 40%;
              // width: 100px;
              display: inline-block;
              vertical-align: text-bottom;
              margin-left: 10%;
              @media screen and(max-width: 1000px) {
                width: 60%;
              }


              @media screen and(max-width: 850px) {
                width: 80%;
              }

              @media screen and(max-width: 700px) {
                width: 100%;
              }

              @media screen and(max-width: 576px) {
                width: 50%;
              }
            }
          }
        }

        /* COL-RIGHT-9 */
        .col-header-right {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 100%;
          width: 100%;

          @media screen and(max-width: 576px) {
            width: 50%;
          }

          /* WRAPPER */
          .header-function {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            @media screen and(max-width: 1000px) {
              display: none;
              visibility: hidden;
            }
            /* UL MENU */
            &__menu {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 100%;
              li {
                height: 100%;
                display: flex;
                align-items: center;
                a.link-re {
                  color: #ccc !important;
                  margin: 0px 20px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  font-family: "Atlas-Grotesk-Regular-VH", sans-serif;
                  font-weight: 600;
                  height: 100%;
                  white-space: nowrap;

                  @media screen and (max-width: 1365px) {
                    margin: 0px 5px;
                  }
                  &:link {
                    color: #444;
                    text-decoration: none;
                  }
                  &:hover {
                    color: #9eaf3b !important;
                    transition: all ease .3s;
                  }
                }

                span {
                  color: #fff;
                  margin: 0px 20px;
                  cursor: default;

                  @media screen and (max-width: 1365px) {
                    margin: 0px 5px;
                  }
                }
              }

              /* Create li dropdown */
              li.dropdown {
                position: relative;

                &:hover .dropdown-content {
                  visibility: visible;
                  opacity: 1;
                  z-index: 1;
                  transform: translateY(0);
                  transition-delay: 0s, 0s, .3s;
                }

                .dropdown-content {
                  visibility: hidden;
                  opacity: 0;
                  position: absolute;
                  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                  background-color: rgba(0,0,0,0.8);
                  min-width: 250px;
                  z-index: 1;
                  top: 100%;
                  left: 0;
                  padding: 20px 0;
                  transform: translateY(-3em);
                  transition: all .3s ease 0s, visibility 0s linear .3s, z-index 0s linear 0.01s;

                  a.link-ab {
                    color: #ccc;
                    display: block;
                    padding: 10px 0 10px 25px;
                    font-weight: 600;
                    &:hover {
                      color: rgb(99, 98, 98);
                      transition: all ease .3s;
                    }
                  }
                }
              }
            }

            /* CHANGE LANGUAGE */
            &__flag {
              display: flex;
              flex-direction: row !important;
              align-items: center;
              height: auto;
              margin: 0 40px 0 0;
              width: auto;
              white-space: nowrap;
              @media screen and (max-width: 1365px) {
                margin: 0 10px 0 0;
              }
              /* Wrapper of flag content and this is also dropdown */
              .wrapper-flag {
                /* btn hover dropdown */
                .dropdown-btn {
                  /* Hover caret down */
                  &:hover .caret-down::before {
                    border-left: 4px solid #9eaf3b;
                    transition: all ease .3s;
                  }

                  /* Show other flag whenever user hover */
                  &:hover + .dropdown-content {
                    visibility: visible;
                    opacity: 1;
                    transition: all ease 1s;
                    cursor: pointer;
                  }

                  img {
                    cursor: pointer;
                    transition: all ease .3s;
                    position: relative;
                  }
                }

                .dropdown-content {
                  position: absolute;
                  visibility: hidden;
                  transform: translateY(0);
                  transition-delay: 0s, 0s, .3s;
                  opacity: 0;
                  top: 100%;
                  left: 0;
                  z-index: 2;
                  img {
                    width: 100%;
                  }

                  &:hover {
                    visibility: visible;
                    opacity: 1;
                    cursor: pointer;
                  }
                }
              }

              span {
                color: #fff;
                outline: none;
                margin: 0 0 0 15px;
                font-size: 70%;
                z-index: 1;
                cursor: pointer;
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  right: 0;
                  top: 50%;
                  margin-top: -3px;
                  width: 0;
                  height: 0;
                  border-bottom: 3px solid transparent;
                  border-left: 4px solid #fff;
                  border-top: 3px solid transparent;
                  transform: rotate(90deg);  
                }
                &:hover {
                  color: #9eaf3b;
                  transition: all ease .3s;
                }
                &:hover .dropdown-content {
                  visibility: visible !important;
                  opacity: 1 !important;
                  transition: all ease 1s;
                  cursor: pointer;
                } 
              }
            }

            /* 2 BUTTON: Reservations and Delivery */
            &__option {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 100%;
              font-family: "Atlas-Grotesk-Regular-VH", sans-serif;
              font-weight: 600;
              letter-spacing: 1px;
              .btn-res-reservations {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                a {
                  background-color: #337ab7;
                  color: #fff;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  padding: 0px 20px;
                  &:hover {
                    background-color: rgba(51, 122, 183, .3);
                    transition: all ease .3s;
                  }
                  @media screen and (max-width: 1365px) {
                    padding: 0 5px;
                  }
                }
              }

              .btn-res-delivery {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                a {
                  background-color: #9EAF3B;
                  color: #fff;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  padding: 0px 20px;
                  &:hover {
                    background-color: rgba(158, 175, 59, .3);
                    transition: all ease .3s;
                  }
                  @media screen and (max-width: 1365px) {
                    padding: 0 5px;
                  }
                }
              }
            }
          }

          /* FOR HEADER RESPONSIVE */
          .header-responsive { 
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            display: none;

            @media screen and(max-width: 1000px) {
              display: flex;
              visibility: visible;
              opacity: 1;
            }

            &__contact {
              background-color: #74726b;
              height: 100%;
              // position: relative;
              &:hover {
                background-color: #888787;
                transition: all .5s ease 0s;
              }
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0px 18px;
              }

              img {

              }
            } 

            &__hamburger {

            }
          }
        }
      }
    }

    /* WRAPPER FOR MAIN BACKGROUND */
    .wrapper-background {
      width: 100%;
      height: auto;
      position: relative;
      img {
        width: 100%;
        z-index: -1;
      }

      /* TEXT IN CENTER BACKGROUND */
      .txt-box {
        display: flex;
        justify-content: center;
        align-items: center; 
        z-index: 1;
        position: absolute;
        width: 100%;
        top: 50%;
        text-align: center;
        p {
          font-weight: normal;
          font-family: 'CenturyStd-LightCondensed-VH', l serif;
          letter-spacing: 2px;
          line-height: 60px;
          font-size: 46px;
          color: #fff;
          margin: 0;
          padding: 0;
        }
      }
    }

    /* CONTENT WELCOME */
    section.wrap-content {
      .content-welcome {
        max-width: 1100px;
        margin: 0 auto;
        padding: 100px 20px 85px;
        color: #ccc;
        flex-wrap: nowrap;

        .container-content__welcome {
          @media screen and(max-width: 768px) { 
            max-width: 100%;
          }
        }

        /* BOX FOR RESPONSIVE */
        .welcome-box {
          @media screen and(max-width: 768px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap !important;
          }

          &__title {
            @media screen and(max-width: 768px) {
              width: 100%;
              max-width: 100%;
              justify-content: flex-start;
            }
            p {
              text-align: left;
            }
          }

          &__text {
            @media screen and(max-width: 768px) {
              width: 100%;
              max-width: 100%;
              text-align: left;
              justify-content: flex-start;
            }

            p {
              @media screen and(max-width: 768px) {
                padding: 30px 0 5px 0;
                font-size: .7em;
                font-weight: 600;
                letter-spacing: 0px;
              }
            }

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              @media screen and(max-width: 768px) {
                width: 100%;
              }
            }
          }
        }
        /* </End Box Responsive> */
        @media screen and(max-width: 992px) {

        }

        @media screen and(max-width: 768px) {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap !important;
        }
        &__title {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: center;
          flex-wrap: nowrap;

          p {
            display: inline-block;
            color: #fff;
            height: auto;
            margin: 0;
            font-size: 2.5em;
            font-family: 'CenturyStd-LightCondensed-VH', l serif;
            white-space: nowrap;
          }
          span {
            display: inline-block;
            color: #9eaf3b;
            font-family: 'CenturyStd-LightCondensed-VH', l serif;
            font-size: 2.5em;
            white-space: nowrap;
          }
        }

        &__text {
          // display: flex;
          // flex-direction: column;
          p {
            color: #ccc;
            font-size: 1em;
            letter-spacing: 1px;
            font-weight: normal;
            line-height: 30px;
          }

          a {
            margin: 20px 0;
            display: inline-block;
            border: 1px solid #fff;
            color: #fff;
            padding: 10px 20px;
            &:hover {
              color: #9eaf3b;
              transition: all ease .5s;
              border: 1px solid #9eaf3b;
            }
          }
        }
      }
    }

    /* PRODUCT ITEM */
    .wrap-product {
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .container {
        max-width: 95%;
        // max-width: 100%;
        @media screen and(max-width: 769px) {
          max-width: 100%;
          margin: 0;
          padding: 0;
          margin: 0px auto;
        }
        margin: 0px auto;
        .box-item {
          display: flex;
          flex-wrap: nowrap;

          @media screen and(max-width: 769px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            margin: 0px auto;
            width: 100%;
          }
 
          // @include xs {
          //   flex-wrap: wrap;
          // }
        }
      }

      &__item {
        display: block;
        position: relative;
        padding: 0;
        margin: 0 .2vw;
        // padding: 0px 5px;
        width: 100%;
        height: 100%;

        @media screen and(max-width: 769px) {
          max-width: 100%;
          margin: 1em 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          width: 95%;
        }
        div.bg-change-color {
          position: absolute;
          top: 0;
          width: 95%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          cursor: pointer;
          span {
            color: #fff;
            z-index: 1;
            text-align: center;
            font-size: 1.7em;
            font-family: 'CenturyStd-LightCondensed-VH', l serif;
          }
        }

        .change-1 {
          background-color: rgba(158,175,59,.7);
          &:hover {
            opacity: 0;
            transition: all ease-out .3s;
          }
        }

        .change-2 {
          background-color: rgba(78,63,53,.7);
          &:hover {
            opacity: 0;
            transition: all ease-out .3s;
          }
        }

        .change-3 {
          background-color: rgba(58,45,89,.7);
          &:hover {
            opacity: 0;
            transition: all ease-out .3s;
          }
        }

        .change-4 {
          background-color: rgba(51,51,51,.7);
          &:hover {
            opacity: 0;
            transition: all ease-out .3s;
          }
        }
      }
    }

    section.wrap-content {
      .content-magic-of-pizza {
        width: 100%;
        height: auto;
        text-align: left;
        max-width: 1100px;
        margin: 0px auto;
        padding: 100px 20px 85px;
      
        &__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0 2% 0 0;
          @media screen and(max-width: 992px) {
            width: 50%;
          }

          @media screen and(max-width: 769px) {
            width: 100%;
            padding: 0;
            max-width: 100%;
          }
          .text-title {
            display: flex;
            text-align: left;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            h4 {
              color: #fff;
              margin: 0;
              font-size: 1.7em;
              font-weight: 300;
              font-family: CenturyStd-LightCondensed-VH,serif;
            }

            span {
              color: #9eaf3b;
              font-size: 1.4em;
              font-family: CenturyStd-LightCondensed-VH,serif;
            }
          }

          .text-content {
            p {
              margin: 20px 0;
              color: #ccc;
              font-size: .9em;
              letter-spacing: 1.5px;
              line-height: 30px;
              font-family: "Atlas-Grotesk-Regular-VH", sans-serif;
            }
          }
        }

        &__image {
          padding: 0 3%;
          @media screen and(max-width: 992px) {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          @media screen and(max-width: 769px) {
            width: 100%;
            padding: 0;
            max-width: 100%;
          }
          img {
            width: 100%;
            height: auto;
            @media screen and(max-width: 992px) {
              // width: 130%;
            }
          }
        }


        /* FOR Responsive content-magic-of-pizza */
        .container-content-magic-of-pizza {
          @media screen and(max-width: 992px) {
            max-width: 100%;
          }

          .row-content-magic-of-pizza {
            @media screen and(max-width: 769px) {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }


    /* OUR MENU */
    .wrap-our-menu {
      width: 100%;
      height: auto;
      .our-menu {
        background: url(../img/background/bg_menu.webp) no-repeat 0 0;
        width: 100%;
        background-size: cover;
        padding: 55px 0 45px;

        &__title {
          display: flex;
          justify-content: center;
          align-items: center;
          h2 {
            position: relative;
            color: #fff;
            width: 10%;
            text-align: center;
            font-family: 'CenturyStd-LightCondensed-VH', l serif;
            white-space: nowrap;
            @media screen and(max-width: 1580px) {
              width: 11%;
            }

            @media screen and(max-width: 1480px) {
              width: 12%;
            }

            @media screen and(max-width: 1380px) {
              width: 13%;
            }

            @media screen and(max-width: 1280px) {
              width: 14%;
            }

            @media screen and(max-width: 1180px) {
              width: 15%;
            }

            @media screen and(max-width: 1080px) {
              width: 16%;
            }

            @media screen and(max-width: 980px) {
              width: 17%;
            }

            @media screen and(max-width: 880px) {
              width: 20%;
            }

            @media screen and(max-width: 780px) {
              width: 22%;
            }

            @media screen and(max-width: 769px) {
              width: 24%;
            }

            @media screen and(max-width: 700px) {
              width: 26%;
            }

            @media screen and(max-width: 650px) {
              width: 28%;
            }

            @media screen and(max-width: 600px) {
              width: 30%;
            }

            @media screen and(max-width: 550px) {
              width: 33%;
            }

            @media screen and(max-width: 500px) {
              width: 36%;
            }

            @media screen and(max-width: 450px) {
              width: 39%;
            }

            @media screen and(max-width: 400px) {
              width: 42%;
            }
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              right: 0;
              width: 20px;
              height: 1px;
              background: #fff;
            }
            
            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              width: 20px;
              height: 1px;
              background: #fff;
            }
          }
        }

        &__item {
          margin: 0px auto;
          max-width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1% 0;
          @media screen and(max-width: 1580px) {
            max-width: 60%;
          }

          @media screen and(max-width: 1480px) {
            max-width: 70%;
          }

          @media screen and(max-width: 1380px) {
            max-width: 80%;
          }

          @media screen and(max-width: 1280px) {
            max-width: 90%;
          }

          @media screen and(max-width: 1180px) {
            max-width: 100%;
          }
          .box-item {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-right: 1px solid #9b9da0;
            padding: 0;

            &:hover > span {
              color: #9eaf3b;
              transition: all .3s ease 0s;
            }
            span {
              color: #fff;
              padding: 20% 30%;
              font-family: 'CenturyStd-LightCondensed-VH', l serif;
              font-weight: 300;
              font-size: 1.2em;
              text-align: center;

              @media screen and(max-width: 769px) {
                padding: 10% 50%;
              }
            }


            /* For responsive box item */
            &__second {
              @media screen and(max-width: 769px) {
                border: none;
              }
            }
  
            &__last {
              border: none;
            }

            @media screen and(max-width: 769px) {
              margin: 5% 0;
            }
          }

          /* For responsive row-our-menu */
          .container-our-menu {
            .row-our-menu {
              @media screen and(max-width: 769px) {
                display: flex;
                flex-wrap: wrap;
                .box-item {
                  flex: 50%;
                  max-width: 50%;
                }
              }
            }
          }
        }
      }
    }

    /* news and media */
    .wrap-news {
      width: 100%;
      height: auto;
      background: url(../img/background/bg-for-news-and-media2.png) no-repeat right bottom 0,url(../img/background/bg-for-news-and-media1.png) no-repeat -10px -50px;

      .box-news {
        max-width: 810px;
        height: auto;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__title {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          h2 {
            position: relative;
            color: #fff;
            width: 30%;
            padding: 30px 0;
            margin-top: 5%;
            text-align: center;
            font-family: 'CenturyStd-LightCondensed-VH', l serif;
            white-space: nowrap;
            @media screen and(max-width: 1580px) {
              width: 31%;
            }

            @media screen and(max-width: 1480px) {
              width: 32%;
            }

            @media screen and(max-width: 1380px) {
              width: 33%;
            }

            @media screen and(max-width: 1280px) {
              width: 34%;
            }

            @media screen and(max-width: 1180px) {
              width: 35%;
            }

            @media screen and(max-width: 1080px) {
              width: 35%;
            }

            @media screen and(max-width: 980px) {
              width: 30%;
            }

            @media screen and(max-width: 880px) {
              width: 30%;
            }

            @media screen and(max-width: 780px) {
              width: 30%;
            }

            @media screen and(max-width: 769px) {
              width: 35%;
            }

            @media screen and(max-width: 700px) {
              width: 35%;
            }

            @media screen and(max-width: 650px) {
              width: 41%;
            }

            @media screen and(max-width: 600px) {
              width: 42%;
            }

            @media screen and(max-width: 550px) {
              width: 43%;
            }

            @media screen and(max-width: 500px) {
              width: 44%;
            }

            @media screen and(max-width: 450px) {
              width: 45%;
            }

            @media screen and(max-width: 400px) {
              width: 47%;
            }
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              right: 0;
              width: 20px;
              height: 1px;
              background: #fff;
            }
            
            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              width: 20px;
              height: 1px;
              background: #fff;
            }
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        &__item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 5% 0;
          width: 100%;
          position: relative;

          @media screen and(max-width: 769px) {
            flex-wrap: wrap;
          }
          .item-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 17.3%;
            display: inline-block;
            margin-right: 7.8%;
            vertical-align: middle;
            a {
              width: 100%;
              height: 100%;
            }
            @media screen and(max-width: 769px) {
              width: 27%;
            }
          }

          .item-text {
            width: 74%;
            display: flex;
            flex-direction: column;
            @media screen and(max-width: 769px) {
              width: 65%;
            }
            a {
              color: #fff;
              font-family: 'CenturyStd-LightCondensed-VH', l serif;
              font-size: 1.35em;
              font-weight: 300;
              letter-spacing: 1px;
              &:hover {
                color: #9eaf3b;
                transition: all .3s ease 0s;
              }
            }

            span {
              color: #b3b3b3;
              font-size: 14px;
              padding: 0 0 10px 0;
              @media screen and(max-width: 769px) {
                margin: 2% 0;
              }
            }

            p.news-item-p-pc {
              color: #fff;
              font-size: .8em;
              font-family: "Atlas-Grotesk-Regular-VH", sans-serif;
              margin: 0;
              max-width: 90%;
              @media screen and(max-width: 769px) {
                display: none;
                visibility: hidden;
                opacity: 0;
              }
            }
          }

          .item-link {
            width: 19%;  
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and(max-width: 769px) {
              width: 100%;
            }
            a {
              color: #fff;
              border: 1px solid #fff;
              padding: 10px 20px;
              white-space: nowrap;
              @media screen and(max-width: 769px) {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 5% 0;
              }
              &:hover {
                color: #9eaf3b;
                border: 1px solid #9eaf3b;
                transition: all .3s ease 0s;
              }
            }

            p.news-item-p-mobile {
              display: none;
              visibility: hidden;
              opacity: 0;
            }
          }
        }
      }
    }


        /* FOOTER */
        .footer-wrapper {
          width: 100%;
          height: 120px;
          max-height: 250px;
          background-color: rgba(0,0,0,0.6);
          margin: 5% 0 0 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          @media screen and(max-width: 769px) {
            height: 250px;
          }
    
          &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
              width: 100%;
            }
          }
    
          &__about-company {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            img {
              color: #fff;
            }
    
            .about-company__left {
              a {
                color: #fff;
                font-family: "Atlas-Grotesk-Regular-VH", sans-serif;
                font-size: .8em;
                font-weight: 600;
                &:hover {
                  color: rgb(99, 98, 98);
                  transition: all .5s ease 0s;
                }
              }
            }
    
            span {
              color: #fff;
              margin: 0px 15px;
              padding: 0;
            }
    
            .about-company__right { 
              display: flex;
              align-items: center;
              p {
                padding: 0;
                margin: 0;
                color: #fff;
                font-family: "Atlas-Grotesk-Regular-VH", sans-serif;
                font-size: .8em;
                font-weight: 600;
              }
              img {
                margin: 0px 0px 0px 5px;
              }
            }
          }
    
          &__contact {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .contact-left {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              text-align: left;
    
              p {
                display: inline-block;
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: .8em;
                font-weight: 600;
              }
              
              a {
                display: inline-block;
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: .8em;
                font-weight: 600;
                &:hover {
                  color: rgb(99, 98, 98);
                  transition: all .3s ease 0s;
                }
              }
            }
    
            .contact-right {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              text-align: left !important;
    
              p {
                display: inline-block;
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: .8em;
                font-weight: 600;
                text-align: left !important;
              }
              
              a {
                display: inline-block;
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: .8em;
                font-weight: 600;
                &:hover {
                  color: rgb(99, 98, 98);
                  transition: all .3s ease 0s;
                }
              }
            }
          }
    
          &__copyright {
            display: flex;
            justify-content: center;
            align-items: center;
    
            p {
              color: #fff;
              font-size: 1em;
              margin: 0;
              padding: 0;
              font-weight: 300;
              color: rgb(192, 192, 192);
              font-family: 'CenturyStd-LightCondensed-VH', l serif;
            }
          }
    
          /* For responsive footer */
          .container-footer {
            @media screen and(max-width: 991px) {
              max-width: 100%;
            }

            @media screen and(max-width: 940px) {
              max-width: 100%;
            }

            .row-footer {
              @media screen and(max-width: 940px) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 100%;
                margin: 0;
                padding: 0;
              }

              @media screen and(max-width: 769px) {
                display: flex;
                flex-direction: column;
              }

              /* LOGO */
              .footer-wrapper__logo {
                @media screen and(max-width: 940px) {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0;
                  padding: 0;
                  max-width: 20%;
                }

                @media screen and(max-width: 769px) {
                  visibility: hidden;
                  opacity: 0;
                  display: none;
                }

                img {
                  @media screen and(max-width: 940px) {
                    margin: 0px auto;
                  }
                }
              }


              /* COMPANY */
              .footer-wrapper__about-company {
                @media screen and(max-width: 940px) {
                  max-width: 35%;
                }

                @media screen and(max-width: 769px) {
                  width: 100%;
                  max-width: 100%; 
                }

                .about-company__left {
                  @media screen and(max-width: 940px) {
                    font-size: .9em;
                  }
                }
                
                span {
                  @media screen and(max-width: 940px) {
                    font-size: .9em; 
                  }
                }

                .about-company__right {
                  @media screen and(max-width: 940px) {
                    font-size: .9em;
                  }
                }
              }

              /* CONTACT */
              .footer-wrapper__contact {
                @media screen and(max-width: 940px) {
                  max-width: 45%;
                }

                @media screen and(max-width: 769px) {
                  display: flex;
                  flex-direction: column;
                }

                .contact-left {
                  @media screen and(max-width: 769px) {
                    padding: 7% 0;
                  }
                  p {
                    @media screen and(max-width: 940px) {
                      font-size: .7em;
                    }
                    @media screen and(max-width: 769px) {
                      font-size: .8em;
                    }
                  }
  
                  a {
                    @media screen and(max-width: 940px) {
                      font-size: .7em;
                    }
                    @media screen and(max-width: 769px) {
                      font-size: .8em;
                    }
                  }
                }

                .contact-right {
                  @media screen and(max-width: 769px) {
                    padding: 7% 0;
                  }
                  p {
                    @media screen and(max-width: 940px) {
                      font-size: .7em;
                    }
                    @media screen and(max-width: 769px) {
                      font-size: .8em;
                    }
                  }
  
                  a {
                    @media screen and(max-width: 940px) {
                      font-size: .7em;
                    }
                    @media screen and(max-width: 769px) {
                      font-size: .8em;
                    }
                  }
                }
              }

              /* COPYRIGHT */
              .footer-wrapper__copyright {
                @media screen and(max-width: 940px) {
                  max-width: 0%;
                  display: none;
                  visibility: hidden;
                  opacity: 0;
                }

                @media screen and(max-width: 769px) {
                  max-width: 20%;
                  display: flex;
                  visibility: visible;
                  opacity: 1;
                }

                p {
                  @media screen and(max-width: 940px) {
                    font-size: .7em;
                  }
                  @media screen and(max-width: 769px) {
                    font-size: .8em;
                  }
                }

                a {
                  @media screen and(max-width: 940px) {
                    font-size: .7em;
                  }
                  @media screen and(max-width: 769px) {
                    font-size: .8em;
                  }
                }
              }
            }
          }
        }



    /* All background */
    .bg-content-1 {
      background: url(../img/background/img_01.webp) no-repeat 100px -70px;
    }

    .__item1 {
      width: 112px;
      height: 112px;
      background-image: url(../img/product/news-item01.png);
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      background-position: center;
    }

    .__item2 {
      width: 112px;
      height: 112px;
      background-image: url(../img/product/news-item02.png);
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      background-position: center;
    }

    .__item3 {
      width: 112px;
      height: 112px;
      background-image: url(../img/product/news-item03.png);
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      background-position: center;
    }

  }

    /*---------------------------------------
       ANIMATION
    -----------------------------------------*/
    @keyframes HideandShow {
      50% {
        visibility: visible;
        opacity: 1;
        animation-duration: 1s;
        animation: ease;
      }

      100% {
        visibility: hidden;
        opacity: 0;
        animation-duration: 1s;
        animation: ease;
      }
    }

    /*---------------------------------------
       CUSTOM CODE FOR RE-USING CODE
    -----------------------------------------*/
    .text-in-line {
      position: relative;
      z-index: 1;
      &::before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        top: 50%;
        z-index: -1;
        margin: 0 auto;
        color: #fff;
        border-top: 2px solid #fff;
      }

      &::after {

      }
    }